DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="【typecho_db】"
DB_USER="【typecho_user】"
DB_PASS="【数据库密码】"
BACKUP_DIR="/var/backups/typecho"
RCLONE_REMOTE="【oss-remote-name】"
RCLONE_PATH="【cagedsheep/typecho-db】"
